/.curseclient
/.mixin.out
/.ReAuth.cfg
/astralsorcery
/avaritiarecipemakeroutput.txt
/backups
/BotaniaVars.dat
/crafttweaker.log
/crash-reports
/discordsuite
/downloads
/hs_err_pid16100.log
/knownkeys.txt
/logs
/manifest.json
/minecraftinstance.json
/modlist.html
/OpenComputersMod-1.7.5.192-lua52-native.64.dll
/OpenComputersMod-1.7.5.192-lua53-native.64.dll
/options.txt
/optionsof.txt
/optionsshaders.txt
/patchouli_data.json
/replay_pid16100.log
/resourcepacks
/saves
/screenshots
/shaderpacks
/usercache.json
/usernamecache.json
/valkyrielib
/woot
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/XaeroWorldMap